<header id="navigation">
  <!-- <a href="/" id="logo">
    <%= image_tag "logo-blue.png", {class: "2x", width: 60, height: 60} %>
  </a> -->
  <h2 class="js-tilt" data-tilt data-tilt-speed="300" data-tilt-max="25" data-tilt-perspective="500">
    <a href="/">
      <span class="header-deep header-deep-one">દીપ શાહ</span>
      <span class="header-deep header-deep-two">દીપ શાહ</span>
      <span class="header-deep header-deep-three">દીપ શાહ</span>
    </a>
  </h2>
  <ul>
    <!-- <li>
      <a href="/writing">Writing</a>
    </li> 
    <li>
      <h3><%= link_to 'About', '/', nav_active('index.html') %></h3>
    </li> -->
    <!-- <li>
      <h3><%= link_to 'Writing', '/writing', nav_active_blog('writing.html') %></h3>
    </li>
    <li>
      <h3><%= link_to 'Resources', '/resources', nav_active('resources.html') %></h3>
    </li> -->
    <!-- <li>
      <h3><%= link_to 'Writing', 'http://deepshah.svbtle.com' %></h3>
      <svg class="icon icon-pop"><use xlink:href="#icon-pop"></use></svg>
    </li> -->
  </ul>
</header>
