---
title: Deep Shah · Work
pageable: true
per_page: 10
---

<div class="row">
  <div class="column-wrap">
    <div class="column">
      <h2 class="heading center">Work</h2>
    </div>
  </div>
</div>

<section id="portfolio">
  <ul id="cards">
    <% page_articles.each_with_index do |article, i| %>
    <% if article.data.category == 'portfolio' %>
    <% link_to article, :class => "card" do %>
      <div class="card-content">
        <h3 class="meta-title"><%= article.data.title %></h3>
        <!-- <p class="meta"><%= article.data.meta %></p> -->
        <p><%= article.data.description %></p>
        <p class="button">Read More &rarr;</p>
      </div>
    <% end %>
    <% end %>
    <% end %>
  </ul>
  <!-- <div class="row">
    <div class="column-wrap">
      <div class="column">
        <ul class="writing">
          <% page_articles.each_with_index do |article, i| %>
          <% if article.data.category == 'portfolio' %>
          <li>
            <% if article.data.company == 'Livestream' %>
            <p><a class="livestream" href="<%= article.url %>"><%= article.title %></a></p>
            <% elsif article.data.company == 'Saavn' %>
            <p><a class="saavn" href="<%= article.url %>"><%= article.title %></a></p>
            <% elsif article.data.company == 'COTA' %>
            <p><a class="cota" href="<%= article.url %>"><%= article.title %></a></p>
            <% elsif article.data.company == 'Behalf' %>
            <p><a class="behalf" href="<%= article.url %>"><%= article.title %></a></p>
            <% elsif article.data.company == 'MongoDB' %>
            <p><a class="mongodb" href="<%= article.url %>"><%= article.title %></a></p>
            <% else %>
            <p><a href="<%= article.url %>"><%= article.title %></a></p>
            <% end %>
            <h4><i><%= article.data.description %></i></h4>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div> -->
</section>
